
/* https://www.youtube.com/watch?v=9VRkcnQ3GpA video nav responsive*/

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    /*box-sizing: border-box;*/
}

body {
    display: flex;
    flex-direction: row;
    background-color: #FBE2E5;
   /* min-height: 100vh;*/
    height: 100%;
}

/* empiezan estilos del header y navbar*/
header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: #767C77;
    align-items: center;
    z-index: 1;
    border-bottom: 4px solid #9CADA4;
}

#header {
    position: sticky;
    width: 100%;
    top: 0;
}

.logo {
    display: flex;
    padding-left: 15px;
}

.logo img {
    height: 70px;
}

nav ul {
    height: 100%;
    margin-left: 50px;
    padding: 15px;
    display: flex;
    float: right;
}

nav ul li {
    list-style: none;
    margin: 0 25px;
    transition: 0.4s;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFF5E8;
    font-size: 16px;
    padding: 7px 13px;
    border-radius: 10px;
    text-transform: uppercase;
}

nav ul:hover li a {
    opacity: 0.7;
    filter: blur(1px);
}

nav ul li a:hover {
    transition: .5s;
    filter: blur(0px);
    transform: scale(1);
}

nav ul li a.active {
    background-color: #FABEA7;
    color: black;
    transition: .5s
}

/* terminan estilos del header y navbar*/
.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}
/*empiezan los estilos para historia*/

.contenedor {
    display: grid;
    grid-template: 3fr 1fr/ 40% 1fr;
    margin: 3% 10%;
    grid-gap: 20px;
    grid-template-areas: "portada portada"
        "foto texto";
    height: 100%;
}

.portada {
    grid-area: portada;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
    border-bottom: 7px double #557571;
}


.item img {
    border-radius: 3rem;
    padding: 20px;
}

.foto {
    grid-area: foto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 20px;
}

.texto {
    display: flex;
    grid-area: texto;
    justify-content: center;
    /*Horizontal*/
    align-items: center;
    /*Vertical  */
}

.item {
    background-color: transparent;
    color: black;
    padding: 30px;
}

h1 {
    font-size: 40px;
}

.texto2 {
    text-align: center;
    margin: 15px;
    padding: 30px;
    font-size: 24px;
    border-radius: 14px;
    border: 2px dashed #557571;
    background-color: transparent;
}

.foto2 {
    padding: 10px;
    margin: 20px;

}

.foto img {
    border-radius: 45px;
}

/* terminan los estilos para historia*/

/* empiezan los estilos para footer*/


#footerMenu{
    height: 20%%;
    background-color: #767C77;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: auto;
    min-height: 70px;
    border-top: 4px solid #9CADA4;
    }
  
  footer :hover{
    background-image: url();
  }
  
  #footerMenu img {
    margin: 1vh;
    width: 2.5vw;
  }
  
@media only screen and (max-width: 479px){
  
    header{
      flex-direction: column;
      align-items: flex-start;
      
    }
  
    ul{
      flex-direction: column;
      align-items: right;
    }
    .navbar ul li a {
      font-size: 8px;
    } 
    h1{
      font-size: 20px;
    }
    h2{
      font-size: 15px;
    }
    .contenedor1{
        grid-template-columns: 1fr 1fr;
    }
    .item1{
        grid-column: 1/3;
    }
    .item2{
        grid-row: 2/4;
    }
    #footerMenu{
      flex-direction: column;
      align-items: flex-start;
    }
    #footerMenu img {
      margin: 3.5vh;
      width: 5vw;
    }
    .contenedor{
      background-image: none;
      
    }
  
  }
  @media only screen and (min-width: 480px) and (max-width: 767px){
  
    .navbar ul li a {
      font-size: 10px;
    } 
  
    .contenedor1{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .item8{
        grid-column: 2/4;
    }
    #footerMenu img {
      margin: 3.5vh;
      width: 3.5vw;
    }
  }
  @media only screen and (min-width: 768px){
    .contenedor1{
        grid-template-columns: repeat(4, 1fr);
    }
  }
  @media only screen and (min-width: 1024px){
    .contenedor1{
        grid-template-columns: repeat(5, 1fr);
    }
    .item7{
        grid-column: 2/4;
    }
    .item8{
        grid-column: 4/6;
    }
  }
  