@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

body {
  display: flex;
  flex-direction: row; 
  background-color: #FBE2E5;
}
header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: #767C77;
  align-items: center;
  z-index: 1;
  border-bottom: 4px solid #9CADA4;
}
#header {
  position: sticky;
  top: 0;
  width: 100%;
}
.logo {
  display:flex; 
  padding-left: 15px;
  float:left;
}
.logo img {
  height: 35px;
}
nav {
  height: 84px;
  background-color: #767C77;
  border-bottom: 4px solid #9CADA4;
}
nav ul {
  height: 100%;
  margin-left: 50px;
  padding: 15px;
  display: flex;
 float: right;
}

nav ul li {
  list-style: none;
  margin: 0 25px;
  transition: 0.4s;
}

nav ul li a {
  display: inline-block;
  text-decoration: none;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:  #FFF5E8;
  font-size: 16px;
  padding: 7px 13px;
  border-radius: 15px;
  text-transform: uppercase;
}

nav ul:hover li a {
  opacity: 0.7;
  filter: blur(1px);
}

nav ul li a:hover {
  transition: .5s;
  filter: blur(0px);
  transform: scale(1);
}

nav ul li a.active {
  background-color: #FABEA7;
  color:black;
  transition: .5s
} 

.historia {
  height: 600px;
  background-color: #FBE2E5;;
  color: black;
}
h2{
 text-align: center;
 font-size: 30px;
}


.contenedor{
  margin: 5px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
 
  background-size: cover;
  height: 100%;
  }


p{
  color: black;
  font-size: 20px;
  text-align: center;
  justify-content: center;
}

h1{
  color: black;
  text-align: center;
  line-height: 1000%;
  font-size: 4rem;
  font-family: "Raleway", sans-serif;
}



/*SectionHistora__Galeria-Fin*/

/*Section Footer-Inicio*/
footer {
  background-color: #767C77;
}
#footerMenu{
  width: 100%;
  height: 20%;
  background-color: #767C77;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: auto;
  min-height: 70px;
  border-top: 4px solid #9CADA4;
  }

#footerMenu img {
  margin: 1vh;
  width: 2.5vw;
}

#menu,
#menu-check {
  display: none;
}

/*Sectio Footer-Fin*/

/*@Mediaquerys */
@media only screen and (max-width: 479px){
  
  header{
    flex-direction: column;
    align-items: flex-start;
    
  }

  ul{
    flex-direction: column;
    align-items: right;
  }
  nav ul li a {
    font-size: 12px;
  } 
  .logo {
    display:flex; 
    padding-left: 15px;
    float:left;
  }
  .logo img {
    height: 35px;
  }
  .logo {
    display:none; 
  }
 
  h2{
    font-size: 15px;
  }
  .historia1 p {
    font-size: 12px !important;
  }
  .parrafo p {
    font-size: 8px;
  }

 

  .contenedor1{
      grid-template-columns: 1fr 1fr;
  }
  .item1{
      grid-column: 1/3;
  }
  .item2{
      grid-row: 2/4;
  }
  footer {
    background-color: #767C77;
  }
  #footerMenu img {
    margin: 3.5vh;
    width: 2.5vw;
  }
  .contenedor{
    background-image: none;
    
  }

}
@media only screen and (min-width: 480px) and (max-width: 767px){

  .nav ul li a {
    font-size: 10px;
  } 
  .logo {
    display:flex; 
    padding-left: 15px;
    float:left;
  }
  .logo img {
    height: 35px;
  }
  .parrafo p {
    font-size: 14px;
  }
  .historia1 p {
    font-size: 12px !important;
  }
  .contenedor1{
      grid-template-columns: 1fr 1fr 1fr;
  }
  .item8{
      grid-column: 2/4;
  }
  footer {
    background-color: #767C77;
  }
  #footerMenu img {
    margin: 3.5vh;
    width: 2.5vw;
  }
}
@media only screen and (min-width: 768px){
  .logo {
    display:flex; 
    padding-left: 15px;
    float:left;
  }
  .logo img {
    height: 35px;
  }
  .contenedor1{
      grid-template-columns: repeat(4, 1fr);
  }

  #footerMenu {
    background-color: #767C77;
    width: 100%;
  }

}
@media only screen and (min-width: 1024px){
  .contenedor1{
      grid-template-columns: repeat(5, 1fr);
  }
  .item7{
      grid-column: 2/4;
  }
  .item8{
      grid-column: 4/6;
  }

 
  footer {
    background-color: #767C77;
  }

  #footerMenu img {
    margin: 3.5vh;
    width: 2.5vw;
  }
}
/* @Mediaquerys menú hamburguesa*/

@media only screen and (max-width: 998px) {
  .logo {
    display: flex;
    padding-left: 5px;
  }

  .logo img {
    height: 15px;
    width: 120px;
  }
  /* menú hamburguesa*/
  #menu-check:not(:checked)~nav {
    display: none;
  }

  #menu-check:checked~nav {
    display: block;
  }

  #menu {
    display: block;
    background-color: #767c77;
    font-size: 1.2em;
    font-weight: bold;
    border: 2px solid black;
    padding: 0.2em;
    border-radius: 0.3em;
    position: absolute;
    right: 0.5em;
    top: 1em;
    z-index: 999;
  }

  #menu:hover {
    background-color: #fabea7;
  }

  #menu-cerrar {
    display: none;
  }

  #menu-check:checked~label #menu-abrir {
    display: none;
  }

  #menu-check:checked~label #menu-cerrar {
    display: block;
  }

  header nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    top: 80px;
    height: min-content;
    background-color: #767c77;
    padding-right:0.5em;
    font-size: 3.5em;
  }

  header nav ul {
    display: block;
    text-align:center;
  }

  nav ul li a.active {
    background: none;
    color: #fff5e8;
  }
  footer {
    background-color: #767C77;
  }


  #footerMenu img {
    margin: 3.5vh;
    width: 2.5vw;
  }
}
