@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fbe2e5;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 10vw;
}

header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: #767c77;
  align-items: center;
  z-index: 1;
  border-bottom: 4px solid #9cada4;
}

#header {
  position: sticky;
  width: 100%;
  top: 0;
}

.logo {
  display: flex;
  padding-left: 15px;
  float:left;
  margin-top: 15px;
}

.logo img {
  height: 35px;
 
}

nav ul {
  height: 100%;
  margin-left: 50px;
  padding: 15px;
  display: flex;
  float: right;
}

nav ul li {
  list-style: none;
  margin: 0 25px;
  transition: 0.4s;
}

nav ul li a {
  display: inline-block;
  text-decoration: none;
  position: relative;
 
  color: #fff5e8;
  font-size: 16px;
  padding: 7px 13px;
  border-radius: 15px;
  text-transform: uppercase;
}

nav ul:hover li a {
  opacity: 0.7;
  filter: blur(1px);
}

nav ul li a:hover {
  transition: 0.5s;
  filter: blur(0px);
  transform: scale(1);
}

nav ul li a.active {
  background-color: #fabea7;
  color: black;
  transition: 0.5s;
}
footer {
  display: flex;
  width: 100%;
  background-color: #767C77;
}
#footerMenu {
  height: 20%;
  background-color: #767c77;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: auto;
  min-height: 70px;
  border-top: 4px solid #9cada4;
}


#footerMenu img {
  margin: 1vh;
  width: 2.5vw;
}

/*empiezan los estilos del home*/

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5vh 0;
  height: min-content;
  background-color: #fbe2e5;
  color: black;
}

.bienvenida {
  width: 100%;
  text-align: center;
  padding: 30px;
  margin-top: 3vh;
  border-radius: 14px;
  border: 2px dashed #557571;
  background-color: transparent;
}

.bienvenida p {
  color: black;
  font-size: 1.2em;
  text-align: center;
  justify-content: center;
}

.home2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 350px;
  max-height: min-content;
  margin: 5vh 0;
  background-color: #fbe2e5;
  color: black;
}

.cuadro1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  padding: 1em;
  background-color: transparent;
}

.direccion {
  margin-top: 3vh;
  font-size: 2em;
  text-align: center;
  padding: 2vh;
}

.home3 {
  margin: 5vh 0;
  height: min-content;
  background-color: #9cada4;
  color: #557571;
  border-radius: 3vh;
  padding: 3vh 1vh;
  border: 1vh groove #557571;
}

.final {
  font-size: 1em;
}

.final p {
  color: black;
  text-align: center;
  justify-content: center;
}

.home h2 {
  text-align: center;
  font-size: 3em;
}
/*Comienzan las @MediaQuearys*/
@media only screen and (max-width: 479px){
  .logo {
    margin-top: 15px;
    float: left;
    margin-right: 200px;
  }

  footer {
    display: flex;
    width: 100%;
    background-color: #767C77;
  }
  #footerMenu img {
    margin: 3.5vh;
    width: 2.5vw;
  }
}

  @media only screen and (min-width: 480px) and (max-width: 767px){
    .logo {
      margin-top: 15px;
      float: left;
    }
  #footerMenu img {
    margin: 3.5vh;
    width: 2.5vw;
  }
}

 
 