

/*MAin Galeria-Inicio*/
.main1{
    margin: 6px;
    display: flex;
    flex-direction: column;
    height: 800px;
  }
  .main1{
    background-image: url(../images/imagen0.jpg);
    background-size: cover;
  }
  /*SectionHistoria__Galeria-Inicio*/
  
 
  .parrafo {
   height: 40%;
  }
  /*MainGaleria-Fin*/